# Требования к компьютеру

## Назначение
Показать технологическую среду.

## Содержание
«Вам понадобится терминал IBM 3270 или совместимый, доступ к DB2, manual SQL-92.»

## Связь с объектом
Реальная среда SQL.

## Связь с эпохой
Мейнфреймы, терминалы.

## Визуальные ориентиры
Фото мейнфрейма, терминала.

## Материалы
assets/images/mainframe-room.jpg

## Ограничения
Не добавлять современные требования (ОЗУ, видеокарта).